<div class="middle-box text-center loginscreen   animated fadeInDown">
  <div>
    
    
    <h3></h3>
    <p>creation compte</p>
    

    <form class="m-t" role="form" [formGroup]="CompteForm">
       
      <div class="form-group">
        <select class="form-control" id="role" formControlName="type" required="" >
          <option disabled="" selected="">Sélectionner type</option>
          <option value="CC" >cc </option>
          <option value="CE"> ce</option>
        </select>
      </div>
      <div formGroupName = "client">
      <div class="form-group">
        <input type="number" class="form-control" name="code client" formControlName="codeClient" placeholder="code client" required="">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" name="nom client" formControlName="nomClient" placeholder="nom client" required="">
      </div>

      </div>



      <div class="form-group">
        <input type="number" class="form-control" name="solde" formControlName="solde" placeholder="solde"
          required="">
      </div>
      <div class="form-group">
        <input type="number" class="form-control" name="decouvert" formControlName="decouvert" placeholder="decouvert"
          required="">
      </div>
     
      <button type="submit" (click)="register()" class="btn btn-primary block full-width m-b">créer compte</button>

      
    </form>
    <br>
    
    <p class="m-t"> <small>Account Generation</small> </p>
  </div>
</div>
